body,
p,
i,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
span,
a,
input {
  padding: 0px;
  margin: 0px;
}
body {
  background: #F0EFED;
}
html {
  font-size: 62.5%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: '';
  height: 0px;
  clear: both;
  display: block;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 50px;
  color: white;
  background: #06C1AE;
  text-align: center;
  border-bottom: 1px solid #21897d;
  display: flex;
  display: -webkit-flex;
}
.header i {
  font-size: 2rem;
}
.header .back {
  margin: 1.1rem 0 1.1rem 1rem;
  width: 25px;
  height: 25px;
  background: url("../img/left.png") no-repeat;
}
.header > p {
  flex: 1;
  font-size: 2rem;
  line-height: 50px;
}
.header > div {
  width: 47px;
  margin-top: .5rem;
  font-size: .8rem;
}
.header > div p {
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.picture {
  width: 100%;
  height: 15rem;
  position: relative;
}
.picture img {
  width: 100%;
  height: 100%;
}
.picture .sel {
  width: 100%;
  height: 8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.3) 64%, transparent);
}
.picture .sel h2 {
  padding: 2rem 1rem 1rem 1rem;
  font-size: 1.8rem;
}
.picture .sel span {
  padding: 0 1rem;
  font-size: 1.4rem;
}
.nav {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  padding: 1rem 0;
  font-size: 1rem;
  background: white;
  border-bottom: 1px solid #F0EFED;
  display: flex;
  display: -webkit-flex;
}
.nav div {
  flex: 1;
  margin-left: 1rem;
}
.nav div .money {
  color: #06C1AE;
}
.nav div .money b {
  font-size: 4rem;
}
.nav div .discount {
  margin-left: 1rem;
  color: #999;
}
.nav .buy {
  text-align: center;
  width: 10rem;
  font-size: 1.8rem;
  color: white;
  display: block;
  margin-right: 1rem;
  background: #FF9900;
  border-radius: 5px;
}
.returnmy {
  background: white;
  font-size: 1.4rem;
  padding: 1rem;
}
.returnmy i {
  margin-right: 1rem;
}
.returnmy p {
  height: 2rem;
  line-height: 2rem;
  color: #A2D660;
  display: flex;
  display: -webkit-flex;
}
.returnmy p span {
  width: 50%;
}
.returnmy div {
  color: #797979;
}
.information {
  color: #797979;
  background: white;
  margin-top: 1rem;
}
.information h2 {
  border-bottom: 1px solid #F0EFED;
  font-size: 2.2rem;
  font-weight: normal;
  height: 3rem;
  line-height: 3rem;
  padding: .5rem 1rem;
}
.information .info {
  padding: 1rem;
  display: flex;
  display: -webkit-flex;
}
.information .info .info_l {
  flex: 1;
}
.information .info .info_l h3 {
  font-size: 1.4rem;
}
.information .info .info_l p {
  margin-top: .6rem;
}
.information .info .info_l p span {
  color: #F1AC53;
  margin-left: 1rem;
}
.information .info .info_r {
  width: 6rem;
  color: #06C1AE;
  font-size: 4rem;
  text-align: center;
  border-left: 1px solid #F0EFED;
}
.choice {
  color: #333;
  background: white;
  margin-top: 1rem;
}
.choice h2 {
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: normal;
}
.choice dl {
  width: 100%;
}
.choice dl dt {
  text-align: center;
  padding: .5rem 1rem;
  background: #F8F9FA;
  font-size: 2rem;
  border-bottom: 1px solid #F0EFED;
}
.choice dl dd {
  display: flex;
  display: -webkit-flex;
  border-bottom: 1px solid #F0EFED;
}
.choice dl dd span {
  flex: 1;
  border-right: 1px solid #F0EFED;
  padding: 1rem;
  text-align: center;
}
.choice > p {
  color: #06C1AE;
  padding: .8rem 1rem;
  height: 1.6rem;
  line-height: 1.6rem;
}
.choice > p span {
  float: left;
}
.choice > p i {
  float: right;
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: url("../img/jiantou.png") no-repeat;
  background-size: 1.4rem 1.4rem;
}
.nknow {
  color: #333;
  background: white;
  margin-top: 1rem;
}
.nknow h2 {
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: normal;
  border-bottom: 1px solid #F0EFED;
}
.nknow > ul {
  padding: 1rem;
  font-size: 1.8rem;
}
.nknow > ul > li .xtit {
  color: #FFA41C;
}
.nknow > ul > li .time {
  margin: .5rem 0 .8rem 0;
}
.nknow > ul > li > ul {
  padding: 1rem 1rem 0 2rem;
}
.nknow > ul > li > ul li {
  list-style-type: disc;
  margin-bottom: .5rem;
}
.sort {
  margin-top: 1rem;
  background: white;
}
.sort p {
  padding: 1rem;
  font-size: 2rem;
  border-bottom: 1px solid #F0EFED;
}
.sort .eat_list {
  padding: 1rem;
}
.sort .eat_list li {
  margin: .8rem .4rem .8rem 0;
  float: left;
}
.sort .eat_list li a {
  padding: .5rem;
  font-size: 1.8rem;
  color: #E28221;
  background: #FFE195;
  border-radius: 5px;
}
.morelist {
  background: white;
  margin-top: 1rem;
  color: #AFAFAF;
}
.morelist p {
  padding: 1rem;
  font-size: 2.2rem;
  border-bottom: 1px solid #EEECE7;
  color: gray;
}
.morelist .list_con {
  padding: 1rem;
  border-bottom: 1px solid #EEECE7;
  font-size: 1.4rem;
}
.morelist .list_con .list_to {
  margin-bottom: .6rem;
}
.morelist .list_con .list_to b {
  font-size: 1.2rem;
  padding: .2rem;
  color: white;
  border-radius: 3px;
  background: #06C1AE;
  font-weight: normal;
  margin-right: .6rem;
}
.morelist .list_con .list_bot .nm {
  color: #06C1AE;
}
.morelist .list_con .list_bot .nm b {
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 2rem;
}
.morelist .list_con .list_bot .pic {
  font-size: 1.2rem;
  color: #666;
}
.morelist .list_con .list_bot .font {
  font-size: 1.2rem;
  float: right;
  margin-right: 1rem;
  color: #666;
}
.morelist .andmore {
  padding: 0 1rem;
  height: 3.6rem;
  line-height: 3.6rem;
  font-size: 1.4rem;
  color: #06C1AE;
  border-bottom: 1px solid #ddd8ce;
}
.looklist {
  background: white;
  margin-top: 1rem;
  color: #AFAFAF;
}
.looklist > p {
  height: 1.6rem;
  line-height: 1.6rem;
  padding: 1rem;
  border-bottom: 1px solid #DDD8CE;
  font-size: 1.8rem;
}
.looklist > p .tit_le {
  float: left;
}
.looklist > p .tit_rig {
  float: right;
}
.looklist .eat {
  background: white;
  color: #666;
}
.looklist .eat ul {
  padding: 0 10px;
  border-bottom: 1px solid #ddd8ce;
}
.looklist .eat ul li {
  list-style: none;
  height: 73px;
  padding: 1.4rem 0px;
  border-bottom: 1px solid #ddd8ce;
  display: flex;
}
.looklist .eat ul li .li_left {
  width: 90px;
  height: 80px;
  vertical-align: top;
  padding-right: 10px;
  position: relative;
  overflow: hidden;
}
.looklist .eat ul li .li_left img {
  width: 90px;
  height: 80px;
}
.looklist .eat ul li .li_left span {
  display: block;
  position: absolute;
  font-size: .9rem;
  text-align: center;
  width: 65px;
  height: 20px;
  line-height: 20px;
  color: white;
  transform: rotateZ(-45deg);
  background: #06c1ae;
  top: 7px;
  left: -16px;
}
.looklist .eat ul li .li_right {
  flex: 1;
  height: 80px;
}
.looklist .eat ul li .li_right > h3 {
  padding-top: .4rem;
  height: 2rem;
  font-size: 1.4rem;
  color: #333;
}
.looklist .eat ul li .li_right > h3 span {
  float: right;
  font-weight: normal;
}
.looklist .eat ul li .li_right > p {
  margin-bottom: 1.1rem;
}
.looklist .eat ul li .li_right div {
  height: 30px;
  line-height: 30px;
  display: flex;
}
.looklist .eat ul li .li_right div .price {
  flex: 1;
  font-size: 1.6rem;
  font-weight: bold;
  color: #06c1ae;
}
.looklist .eat ul li .li_right div .price small {
  font-weight: normal;
  font-size: 1rem;
  color: #FFB952;
  padding: .2rem;
  border-radius: 3px;
  border: 1px solid #FFB952;
  margin-left: .4rem;
}
.looklist .eat ul li .li_right div .num {
  width: 7rem;
  text-align: right;
  font-size: 1.2rem;
}
.looklist .eat ul li:last-child {
  border: none;
}
.nowplace {
  font-size: 1.6rem;
  padding: 1.5rem 0 .8rem 1rem;
  color: #06C1AE;
}
.totop {
  width: 2.5rem;
  height: 2.5rem;
  background: url("../img/totop.png") no-repeat;
  background-size: 2.5rem 2.5rem;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  cursor: pointer;
  display: none;
}
.footer {
  margin-top: 15px;
  padding: 0 10px 20px;
}
.footer .footer_top {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.footer .footer_top a {
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: block;
  color: #06C1AE;
  text-decoration: none;
  padding: 0 15px;
  border: 1px solid #06C1AE;
  border-radius: 5px;
  font-size: 1.4rem;
}
.footer .footer_top .footer_top_l {
  float: left;
}
.footer .footer_top .footer_top_l a {
  float: left;
  margin-right: 10px;
}
.footer .footer_top .footer_top_r {
  float: right;
}
.footer .footer_top .footer_top_r span {
  float: left;
  font-size: 1.4rem;
}
.footer .footer_top .footer_top_r a {
  width: 58px;
  float: right;
}
.footer .con {
  margin-top: 2.6rem;
  font-size: 1.2rem;
}
.footer .con ul {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box;
  padding: 10px 0;
}
.footer .con ul li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #666;
}
.footer .con ul li a {
  display: block;
  color: #06C1AE;
}
.footer .con ul li:last-child {
  border-right: none;
}
.footer .footer_b {
  font-size: 1.2rem;
}
.footer .footer_b p {
  text-align: center;
  padding: 5px 0;
  margin-bottom: 15px;
  height: 20px;
  line-height: 20px;
}
.footer .footer_b p a {
  color: #06C1AE;
}
.footer .footer_b .hr {
  position: relative;
  border-top: 1px solid #999;
  text-align: center;
}
.footer .footer_b .hr span {
  width: 200px;
  padding: 0 6px;
  background: #F0EFED;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #999;
}
